@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply select-none; /* Tailwind utility for user-select */
}

.no-interaction {
  @apply pointer-events-none select-none; /* Using Tailwind utilities */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-foreground bg-background; /* Using Tailwind utilities for text color and background */
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* This is not a Tailwind utility, retains as is */
  }
}
